appdirs==1.4.3
EasyProcess==0.2.3
numpy==1.15.4
olefile==0.44
opencv-python==3.4.3.18
packaging==16.8
Pillow==4.0.0
PyAutoGUI==0.9.35
PyMsgBox==1.0.6
pyparsing==2.2.0
pyscreenshot==0.4.2
PyScreeze==0.1.9
pytesseract==0.1.6
PyTweening==1.0.3
pywin32==224
requests==2.13.0
six==1.10.0
