appdirs==1.4.3
Click==7.0
EasyProcess==0.2.3
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.15.4
olefile==0.44
packaging==16.8
Pillow==4.0.0
PyAutoGUI==0.9.35
PyMsgBox==1.0.6
pyparsing==2.2.0
pyscreenshot==0.4.2
PyScreeze==0.1.9
pytesseract==0.1.6
PyTweening==1.0.3
requests==2.13.0
scipy==0.18.1
six==1.10.0
Werkzeug==0.14.1
xlib==0.21
