appdirs==1.4.3
Click==7.0
EasyProcess==0.2.3
entrypoints==0.3
flake8==3.7.7
Flask==1.0.2
Flask-Cors==3.0.8
Flask-SocketIO==4.1.0
gevent==1.4.0
greenlet==0.4.15
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mccabe==0.6.1
numpy==1.15.4
olefile==0.44
packaging==16.8
Pillow==4.0.0
pudb==2019.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
PyMsgBox==1.0.6
pyparsing==2.2.0
pyscreenshot==0.4.2
PyScreeze==0.1.9
pytesseract==0.1.6
python-engineio==3.8.1
python-socketio==4.1.0
PyTweening==1.0.3
requests==2.13.0
six==1.10.0
urwid==2.0.1
Werkzeug==0.14.1
xlib==0.21
yapf==0.27.0
